* {
    -fx-bg-color: #3C3F41;
}

#root {
    -fx-background-color: -fx-bg-color;
}

#pane {
    -fx-background-color: -fx-bg-color;
}

.text-field {
    -fx-background-color: -fx-bg-color;
    -fx-text-fill: white;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #313335;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.password-field {
    -fx-background-color: -fx-bg-color;
    -fx-text-fill: white;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #313335;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.text-area .content {
    -fx-background-radius: 0 ;
}

.text-area {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: white;
    -fx-background-color: -fx-bg-color;
}

.text-area .scroll-pane:fitToWidth:fitToHeight .viewport .content {
    -fx-background-color: -fx-bg-color;
}

.context-menu {
    -fx-background-color: -fx-bg-color;
    -fx-background-radius: 5px;
}

.menu-bar {
    -fx-background-color: -fx-bg-color;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.menu {
    -fx-background-color: -fx-bg-color;
}

.menu .label {
    -fx-text-fill: white;
}

.menu-item {
    -fx-background-color: -fx-bg-color;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused,
.menu-item:showing,
.menu-item:hover {
     -fx-background-color: -fx-accent;
}

.check-box {
    -fx-text-fill: white;
}

.check-box .box {
    -fx-background-color: -fx-bg-color;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-border-color: #313335;
}

.check-box:selected .box .mark {
    -fx-background-color: green;
}

.button {
    -fx-background-color:  -fx-bg-color;
    -fx-border-color: #313336;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.dialog-pane > .button-bar > .container {
  -fx-background-color: -fx-bg-color;
}

.dialog-pane > .content.label {
    -fx-background-color: -fx-bg-color;
   -fx-text-fill: white;
}

.dialog-pane:header .header-panel {
  -fx-background-color: -fx-bg-color;
}

.dialog-pane:header .header-panel .label{
  -fx-background-color: -fx-bg-color;
  -fx-background-radius: 10px;
  -fx-text-fill: white;
  -fx-font-size: 15.0px;
}