* {
    -fx-bg-color: white;
    -fx-accent: #2196F3;
}

#root {
    -fx-background-color: -fx-bg-color;
}

#pane {
    -fx-background-color: -fx-bg-color;
}

.text-field {
    -fx-background-color: -fx-bg-color;
    -fx-text-fill: black;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: lightgray;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.password-field {
    -fx-background-color: -fx-bg-color;
    -fx-text-fill: black;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: lightgray;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.text-area {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: black;
    -fx-background-color: -fx-bg-color;
}

.text-area .scroll-pane:fitToWidth:fitToHeight .viewport .content {
    -fx-background-color: -fx-bg-color;
}

.context-menu {
    -fx-background-color: -fx-bg-color;
    -fx-background-radius: 5px;
}

.menu-bar {
    -fx-background-color: -fx-bg-color;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.menu {
    -fx-background-color: -fx-bg-color;
}

.menu .label {
    -fx-text-fill: black;
}

.menu-item {
    -fx-background-color: -fx-bg-color;
}

.menu-item .label {
    -fx-text-fill: black;
}

.text-area .content {
    -fx-background-radius: 0 ;
}

.menu-item:focused,
.menu-item:showing,
.menu-item:hover {
     -fx-background-color: -fx-accent;
}

.menu-item:focused .label,
.menu-item:showing .label,
.menu-item:hover .label {
    -fx-text-fill: white;
}

.check-box {
    -fx-text-fill: black;
}

.check-box .box {
    -fx-background-color: -fx-bg-color;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-border-color: lightgray;
}

.check-box:selected .box .mark {
    -fx-background-color: green;
}

.button {
    -fx-background-color: -fx-bg-color;
    -fx-border-color: #d6d6d6;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: black;
}
